NUXT_SESSION_PASSWORD=
NUXT_API_URL=

NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=

NUXT_PUBLIC_FIREBASE_UPLOAD_WEBHOOK_URL=https://n8n.srv1137762.hstgr.cloud/webhook/upload-firebase-general
NUXT_N8N_COORDS_TO_ADDRESS_URL=https://n8n.srv1137762.hstgr.cloud/webhook/coords-to-address
NUXT_N8N_LINK_TO_COORDS_URL=https://n8n.srv1137762.hstgr.cloud/webhook/link-to-coords
NUXT_N8N_RESCUE_CLASSIFIER_URL=https://n8n.srv1137762.hstgr.cloud/webhook/rescue-classifier
NUXT_QUOTE_PDF_API_URL=http://localhost:5000
